stages:
  - build
  - deploy

build:site:
  image: node:20
  stage: build
  script:
    - npm install
    - npm run generate
  artifacts:
    expire_in: 6 hours
    paths:
      - dist
  only:
    refs:
      - master

deploy:prod:
  image: alpine
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "main"'
      when: always
  stage: deploy
  before_script:
    - 'which ssh-agent || ( apk add --update openssh )'
    - apk add --update bash
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY_TINYPC" | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    # Install rsync
    - apk add rsync
    - rsync --version
  script:
    - rsync -avz --delete -e 'ssh -p 1986' dist/. sebastix@nostrver.se:/var/www/echostr.nostrver.se
    - echo "Deployment ready, check https://echostr.nostrver.se"
  dependencies:
    - build:site
